#環境変数
.env
.ev*
!.env.example
.DS_Store
.github
.gitignore
/docs
docs/reports
docs/structure.md
docs/ToDo.md
docs/spec.md
docs/authentication.md
docs/GAS-safety-check-2026-09-02.md


#認証情報
.clasprc.json
credentials*.json
service-account*.json
secretsl
node_modules/


#GAS
/GAS


